# Fichiers sensibles
.env

# Environnement virtuel
venv/
.envrc

# Cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers log et temporaires
*.log
*.sqlite
conversation_log.txt

# Streamlit
.streamlit/config.toml

# Fichiers système
.DS_Store
Thumbs.db
